{{#each collectionList}}
<li >
 <a href='{{linkpagesite}}' data-id='{{idcollection}}' data-name='{{name}}'> {{name}}
  {{#if displayCount}}
  <p class='ui-li-aside ui-li-count'> {{displayCount}} </p>
  {{/if}}
 </a>
</li>
{{/each}}
