{{#each fields}}
  {{#ifCond widgetType "custom_widget_tokenizer"}}
  {{else}}
  {{#if config.options}}
    <div id="wrapper_{{idfield}}" tabindex="0">
     <label>{{name}}</label>
     <select id="{{idfield}}"
             data-theme="a"
             name="{{idfield}}"
             data-native-menu="false"
             {{multiple}}
             data-role="{{slider}}"
             data-mini="{{ctrue}}"
             {{required}}
             data-is_enable_field_logic="{{is_enable_field_logic}}"
             class="validateSelectFields needsclick">
      {{#if multiple}}
        <option>Options</option>
        {{#config.options}}
        <option value="{{id}}" {{selected}}>{{label}}</option>
        {{/config.options}}
      {{else}}
      {{#if slider}}
      {{else}}
        <option value="">Option</option>
        <option value="" selected>(no value)</option>
      {{/if}}
        {{#config.options}}
        <option value="{{id}}" {{selected}} data-field_id="{{field_id}}">{{label}}</option>
        {{/config.options}}
      {{/if}}

     </select>
    </div>
  {{else}}
  {{#if isCustomWidget}}
    <div id="wrapper_{{idfield}}" tabindex="0">
     <label>{{name}}</label>
     <div id="{{idfield}}" class="widget" require='{{required}}' tabindex="0">
       {{{config.widget_content}}}
     </div>
    </div>
  {{else}}
  {{#if isHierarchy}}
    <div id="wrapper_{{idfield}}" tabindex="0">
     <label>{{name}}</label>
     <div id="{{idfield}}"
          class="tree"
          require='{{required}}'
          tabindex="0"></div>
    </div>
  {{else}}
  {{#if isPhoto}}
    <div id="wrapper_{{idfield}}" tabindex="0">
     <span style='display:inline; margin-top:10px'>{{{name}}}</span>
     <div onclick="CameraModel.openCameraDialog({{idfield}}, 'update')"
          id='property_{{idfield}}_container'
          class="photo" tabindex="0">
      <img class="image"
           src='{{__value}}'
           id='{{idfield}}'
           require='{{required}}' />
     </div>
    </div>
  {{else}}
  {{#if config.locations}}
    <div id="wrapper_{{idfield}}" tabindex="0">
     <label>{{name}}</label>
     <select id="{{idfield}}"
             data-theme="a"
             name="{{idfield}}"
             data-native-menu="false"
             {{required}}
             class="validateSelectFields needsclick">
      <option value="">Option</option>
      <option value="" selected>(no value)</option>
      {{#config.locationOptions}}
      <option value="{{code}}" {{selected}}>{{name}}</option>
      {{/config.locationOptions}}
     </select>
    </div>
  {{else}}
  {{#ifCond kind "calculation"}}
    <div id="wrapper_{{idfield}}" tabindex="0" class="{{invisible}}">
     <label for='name'>{{{name}}}</label>
     <input type="{{widgetType}}"
            id="{{idfield}}"
            value ="{{__value}}"
            name="{{name}}"
            {{required}}
            {{readonly}}/>
    </div>
  {{else}}
    <div id="wrapper_{{idfield}}" tabindex="0" class="{{invisible}}">
     <label for='name'>{{{name}}}</label>
     {{#ifCond widgetType "date"}}
       <input type="{{widgetType}}"
              id="{{idfield}}"
              value ="{{__value}}"
              name="{{name}}"
              class="date"
              {{required}} >
     {{else}}
     {{#ifCond widgetType "number"}}
       <input type="tel"
              id="{{idfield}}"
              value ="{{__value}}"
              name="{{name}}"
              min="{{config.range.minimum}}"
              max="{{config.range.maximum}}"
              data-is_enable_field_logic="{{is_enable_field_logic}}"
              data-allows_decimals= {{config.allows_decimals}}
              data-digits_precision="{{config.digits_precision}}"
              data-previous-value ="{{__value}}"
              class="skipLogicNumber"
              {{required}}
              {{readonly}}/>
     {{else}}
       <input type="{{widgetType}}"
              id="{{idfield}}"
              value ="{{__value}}"
              name="{{name}}"
              {{required}}
              {{readonly}}/>
     {{/ifCond}}
     {{/ifCond}}
   </div>
  {{/ifCond}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/ifCond}}
{{/each}}
