<label for="site_name" data-i18n='global.name'> {{t "global.name"}}</label>
<input type="text"
       name="site_name"
       id="site_name"
       class="required"
       value='{{name}}'
       required="required"
       {{editable}}
       /><br>
<div>
 <a href="#page-map">
  <img src="img/map.png"
       alt="map icon"
       width="50"
       height="50"
       id="icon_map"/></a></div>
<label for="site_lat"> {{t "global.lat"}} </label>
<input type="number"
       name="site_lat"
       id="site_lat"
       class="required"
       value='{{lat}}'
       {{editable}}/>
<label for="site_lng"> {{t "global.lng"}} </label>
<input type="number"
       name="site_lng"
       id="site_lng"
       class="required"
       value='{{lng}}'
       {{editable}}/>
