{{#each siteList}}
<li data-id='{{id}}' data-href='{{link}}' data-collection-id='{{collection_id}}' data-name='{{name}}'>
  <a href='#'> {{name}}
    {{#if collectionName}}
      <p class='ui-li-desc no-click' > {{collectionName}} </p>
    {{/if}}
    <p class='ui-li-aside no-click' style='color:blue'> {{date}} </p>
  </a>
</li>
{{/each}}
{{#if hasMoreSites}}
<li class="load-more" data-id="load-more-site-list" id="load-more-site">
 <a href="">Load More Sites ...</a>
</li>
{{/if}}
